<div>
  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Inicio</title>
  </head>
  <body>
    <section class="hero-section">
      <div class="text-center">
        <h1 class="hero-title"></h1>
        <h2>Descubre sobre nuestros inicios</h2>
        <a href="#servicios" class="btn btn-light btn-lg">Conócenos</a>
      </div>
    </section>

    <div class="container mt-5" id="servicios">
      <h2 id="C" class="text-center mb-4">Nuestros Servicios</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="https://imgs.search.brave.com/Slyx2T_N2ulIl5sR6gJjEV_8L6io7iWb_Y_Eg7ktAcE/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA5LzMyLzcwLzQ1/LzM2MF9GXzkzMjcw/NDU0NV8zeVNZcnBi/WW1uQ3I0NkRzNDRm/ZVZ2Q1N5QmlHQ09G/Qi5qcGc" class="card-img-top" alt="Servicio 1">
            <div class="card-body">
              <h5 class="card-title">Marketing digital</h5>
              <p class="card-text"> Desarrollamos estrategias de marketing en línea para atraer y retener clientes</p>
              <a href="#" class="btn btn-primary">Más Información</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="https://imgs.search.brave.com/b_3NQK0Q73tl0bRVwoo_ruOIGE2zAdzcddiSZ-J4NFE/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9ibG9n/LmltcHVsc2UubGF0/L2hzLWZzL2h1YmZz/LzYtdGlwb3MtZGUt/cHVibGljaWRhZC1l/bi1pbnRlcm5ldC1x/dWUtdG9kby1uZWdv/Y2lvLWRlYmUtdXRp/bGl6YXItMS5qcGc_/d2lkdGg9MTI4MCZu/YW1lPTYtdGlwb3Mt/ZGUtcHVibGljaWRh/ZC1lbi1pbnRlcm5l/dC1xdWUtdG9kby1u/ZWdvY2lvLWRlYmUt/dXRpbGl6YXItMS5q/cGc" class="card-img-top" alt="Servicio 2">
            <div class="card-body">
              <h5 class="card-title">Publicidad en línea</h5>
              <p class="card-text">Ofrecemos anuncios en redes sociales y buscadores para llegar a audiencias específicas</p>
              <a href="#" class="btn btn-primary">Más Información</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="https://imgs.search.brave.com/tKJZqPBJyxJD9Abp7yxeuk31OksI3iB4UAdH6lOXEqo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Y29tdW5pY2FyZS5l/cy93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8xMS9QdWJsaWNp/ZGFkLTItMi5qcGc" class="card-img-top" alt="Servicio 3">
            <div class="card-body">
              <h5 class="card-title">Publicidad offline</h5>
              <p class="card-text">Implementamos campañas publicitarias en medios impresos y televisivos para objetivos</p>
              <a href="#" class="btn btn-primary">Más Información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
  